@model Sitecore.Exception.Handler.Models.RenderingErrorModel
         
@if (!Sitecore.Context.PageMode.IsNormal || !HttpContext.Current.IsCustomErrorEnabled)
{
	<style>
		.error-messages,.status-messages {font-size: 1.4em;margin: 20px 0}.error-messages .error-header,.status-messages .error-header,.error-messages .status-header,.status-messages .status-header {color: #fff;padding: 10px}.error-messages li,.status-messages li {display: block;padding: 10px}.error-messages li:last-child,.status-messages li:last-child { border-bottom: none }.error-messages {border: solid 1px #900;color: #900}.error-messages .error-header { background: #900 }.error-messages li { border-bottom: dashed 1px #900 }.status-messages {border: solid 1px #000a3e;color: #000a3e}.status-messages .status-header { background: #000a3e }.status-messages li { border-bottom: dashed 1px #000a3e }
	</style>

	<div class="error-messages">
		<h4 class="error-header">
			Error while rendering the view [@Model.RenderingName] Please, make sure the rendering is configured properly or contact your administrator.
		</h4>
		<ul>
			@foreach (var line in Model.Exception.ToString().Split(new[] { Environment.NewLine }, StringSplitOptions.RemoveEmptyEntries).Select(x => x.Trim()))
			{
				<li @(line.StartsWith("at") ? "style=padding-left:40px;" : string.Empty)>@line</li>
			}
		</ul>
	</div>
}
else
{
	<!-- Error while rendering the view [@Model.RenderingName] - [@Model.Exception] -->
}